.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 280px;
    height: 400px;
    margin: 20px;
    text-align: center;
    font-family: arial;
    float: left;
  }
  
  .price {
    color: grey;
    font-size: 12px;
  }
  
  img {
      max-width: 280px;
      max-height: 180px;
      border-radius: 40%;
  }
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: tomato;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.9;
    color: black;
  }